<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('ga') -%> <%- include('head') -%>
		<title>Gallery | SPIC MACAY Amrita Bangalore</title>
		<meta name="description" content="SPIC MACAY Amrita Bangalore" />
		<meta
			property="og:title"
			content="Gallery | SPIC MACAY Amrita Bangalore"
		/>
		<meta
			property="og:url"
			content="https://spic-macay-amrita.web.app/Gallery"
		/>
		<meta property="og:description" content="SPIC MACAY Amrita Bangalore" />
	</head>

	<body class="gallery-page">
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="main-page">
						<%- include('nav') -%>
						<div class="content-main gallery_main">
							<div class="gallery-main-inner">
								<div class="col-md-12 gallery_title_main">
									<div class="gallery_title">
										<h3>Gallery</h3>
										<h4>A few past moments</h4>
									</div>
									<br style="clear:both;" />
								</div>
								<div
									id="content"
									class="gallery-images-container"
								>
									<div class="box-gutter"></div>
									<div class="box-sizer"></div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-1.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-2.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-3.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-4.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-5.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-6.jpg"
										/>
									</div>

									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-7.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-8.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-9.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-10.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-11.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-12.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-13.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-14.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-15.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-16.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-17.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-18.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-19.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-20.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-21.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-22.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-23.jpg"
										/>
									</div>
									<div class="box">
										<img
											alt="Agra picture"
											src="images/gallery/gallery-item-24.jpg"
										/>
									</div>
								</div>
								<div class="row text-center view_more_main">
									<a
										target="_blank"
										href="https://instagram.com/spicmacay_aseb"
										class="btn view_more"
										>View more</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('footer') -%>
			</div>
		</div>
		<%- include('scripts') -%>
	</body>
</html>
